@model darbuotoju_valdymos_sistema.Models.Workers
<div class="modal-content">
    <div class="modal-header">
        <button type="button" id="closebttn" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
    </div>
    <div class="modal-body">
        @Model.name
    </div>
    <div class="modal-footer">
        <button type="button" id="closebttn" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</div>
